.icon {
  width: 30px;
  height: 30px;
}
img {
  display: block;
  width: 100%;
}
.flex {
  display: flex;
  align-items: center;
}
.NewsLeft,
.NewsRight {
  width: 50%;
}
.container-search {
  width: 1300px;
  margin: 0 auto;
}
.search-input {
  width: 80%;
}
